.home {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 5rem;
}
.home__cards {
  border: 1px solid;
  border-radius: 2rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--textColor);
}

/* Card Skills */

.card__skills {
  display: flex;
  align-items: center;
  padding: 4.2rem 6.5rem;
}
.card__skills .skills__info {
  max-width: 24.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__skills .skills__info span {
  height: 3.9rem;
  text-align: center;
  padding: 1rem 2.4rem;
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.05);
  color: var(--textColor);
  font-size: 1.1rem;
  font-weight: 500;
}
.skills__image {
  margin-top: 2rem;
}
/* Card Services */

.card__services {
  padding: 4rem 3.7rem;
}
.services__title {
  text-align: center;
  margin-bottom: 5.4rem;
  font-size: 3.4rem;
  font-weight: 500;
}
.line-vector {
  margin-right: 1rem;
}
.services__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.content__info {
  border: 1px solid rgba(217, 217, 217, 1);
  padding: 2.3rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.5rem;
}
.info-second {
  border: 2px dotted rgba(217, 217, 217, 1);
  padding: 1.1rem;
}
.content__info span {
  max-width: 25.4rem;
  height: 2.8rem;
  text-align: center;
  padding-top: 0.7rem;
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.05);
  color: var(--textColor);
  font-size: 1.1rem;
  font-weight: 500;
}
.content__info span:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

/* Card technologies */

.card__technologies {
  height: 41.1rem;
  padding: 6rem 5rem;
}
.technologies__title {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: 8rem;
}
.technologies__content {
  display: flex;
  overflow-x: auto;
  gap: 5rem;
}
.box {
  width: 16.5rem;
  height: 16.5rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1) 100%;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
  font-size: 3.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card Reviews */

.card__reviews {
  padding: 4.9rem 5rem 3.8rem;
}
.reviews__title {
  text-align: center;
  font-size: 3.4rem;
}
.reviews__text {
  width: 100%;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  padding: 2rem 0 4.4rem;
}
.reviews__container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 2rem;
}
.reviews__box {
  max-width: 32.5rem;
  width: 100%;
  border: 1px solid;
  border-radius: 1rem;
  background: linear-gradient(0deg, #010023, #010023);
  border: 1px solid white;
}
.box__head {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.7rem 2.5rem;
  border: 1px solid;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.head__title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.head__skill {
  font-size: 1.7rem;
  font-weight: 400;
}
.box__text {
  padding: 2rem 2.5rem;
}
.box__text p {
  text-align: center;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.6rem;
}

/* Card Contact */

.card__contact {
  padding: 6.9rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.contact__title {
  font-size: 4.4rem;
  font-weight: 700;
}
.contact__paragraph {
  font-size: 2.4rem;
  font-weight: 400;
}
.contact__button {
  align-self: flex-end;
  border-radius: 2rem;
  height: 6.1rem;
  padding: 1.8rem 7rem;
  color: var(--textColor);
  border: 1px solid #ffffff;
  font-size: 2.4rem;
  font-weight: 400;
}
.contact__button:hover {
  background-color: white;
  color: #000;
}
