a {
  color: var(--textColor);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.header__nav a {
  font-weight: 700;
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  position: relative;
}

.header__nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
  width: 1rem;
  height: 1rem;
  background: var(--textColor);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header__nav a:hover {
  color: var(--textColor);
}

.header__nav a:hover::after {
  opacity: 1;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__link hr {
  width: 1px;
  height: 86px;
}

.header__link button {
  padding: 1rem 4rem;
  border-radius: 4rem;
  color: var(--textColor);
  cursor: pointer;
  background-color: inherit;
  border: 2px solid rgba(255, 255, 255, 1);
  font-size: 1.2rem;
  font-weight: 700;
}

.header__link button:hover {
  background-color: var(--textColor);
  color: black;
}

.header__link-LinkedIn {
  color: var(--textColor);
  font-weight: 400;
  font-size: 1.4rem;
}

main {
  color: var(--textColor);
}

main h1 {
  max-width: 80rem;
  font-size: 6.4rem;
  font-weight: 700;
}