.header {
  margin-bottom: 4.4rem;
}
.header__nav {
  padding-top: 3rem;
  margin-bottom: 8.2rem;
}
a {
  color: var(--textColor);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-links {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.header__nav-links a {
  font-weight: 700;
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  position: relative;
}

.header__nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
  width: 1rem;
  height: 1rem;
  background: var(--textColor);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header__nav a:hover {
  color: var(--textColor);
}

.header__nav a:hover::after {
  opacity: 1;
}

.header__nav__actions {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.actions__divider {
  width: 1px;
  height: 86px;
}

.actions__button {
  padding: 1rem 4.3rem;
  border-radius: 4rem;
  color: var(--textColor);
  cursor: pointer;
  background-color: inherit;
  border: 2px solid rgba(255, 255, 255, 1);
  font-size: 1.6rem;
  font-weight: 700;
}

.actions__button:hover {
  background-color: var(--textColor);
  color: black;
}

.actions__info {
  max-width: 9.7rem;
  color: var(--textColor);
  font-weight: 400;
  font-size: 1.4rem;
}
.actions__info .info__number {
  color: var(--textColor);
}

.header__content {
  color: var(--textColor);
}

.content__title {
  max-width: 85rem;
  font-size: 6.4rem;
  font-weight: 700;
}

.content__paragrap {
  font-size: 2.4rem;
  margin: 3rem 0 4rem;
}
.content__button {
  padding: 2rem 5rem;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 1rem;
  background-color: inherit;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--textColor);
}
.content__button:hover {
  background-color: var(--textColor);
  color: black;
}
